.body{
    text-align: center; 
}

#CHANGEBAR{
    
    position: fixed;
    background: black;
}
#tbuttons{
    font-style: italic;
    font-weight: bold;
    background-color: black;
    text-decoration-color: azure;
    
}
#tbuttons:hover {
    background-color: ghostwhite;
}
html {
    scroll-behavior: smooth;
}


    
    

#info{
    text-align: center;
}

#IMAGE-FAMPEOP{
    width:900px ;
    height:450px;
    
}

